* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* font-family:Arial, sans-serif; */
   
}
html{
    font-size: 62.5%;
}

.nav-container{
    border: 2px solid rgba(133, 150, 149, 0.753);
    background-color:rgba(12, 37, 36, 0.753);
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
    color:white;
    display:flex;
    list-style-type:none;
    justify-content:space-between;
    height:90px;
    border:none;
}
.item1 {
    padding:7px 0 7px 20px;
    font-weight: 700;
    font-size:2.5rem;
    color:white;
}
.item2{
    padding:22px 30px 7px 0;
    font-weight: bold;
    font-size: 2.5rem;
    
}
.item2 a {
    color:white;
    text-decoration: none;
    color:rgb(255, 217, 0);
    border:3px solid rgb(255, 217, 0);
    border-radius:7px;
    padding:5px;
}
.item2 a:hover{
    background-color: rgba(83, 144, 99, 0.879);
}

/* main-container starts here */
.main-container{
    display:flex;
    height:87vh;
    /* border:3px solid red; */
    /* border:2px solid pink; */
}
.side-container{
    width:15%;
    background-color:rgb(102, 178, 250);
    /* border:2px solid rgb(255, 0, 0); */
    /* height:calc(100vh-90px); */
     height:87vh;
     /* background-color:rgb(155, 155, 155); */
     cursor:pointer;
}
.sidecontainer-wrapper{
width:100%;
margin-top:40px;
}
.sidecontainer-items {
    width:100%;
    /* border:1px solid white; */
    /* background-color:rgb(102, 178, 250); */
}
.sidecontainer-items:hover{
    /* background-color:rgba(102, 178, 250, 0.359) ; */
    background-color:rgba(0, 0, 0, 0.498);
    /* cursor:pointer; */
}
.sidecontainer-items-core{
    display:flex;
    margin: 0 auto;
    width:90%;
    /* border: 2px solid black; */
    margin-right:10px;
    flex-wrap:wrap;
    /* background-color:rgb(102, 178, 250); */
}

.sidecontainer-items img{
    height:95%;
    margin:auto 0;
    /* max-width:100%; */
    min-width:100%;
    /* min-width:70%; */
} 
.sidecontainer-item-button{
    /* background-color:rgb(102, 178, 250); */
    height:40px;
    color:white;
    display:inline-flex;
    font-size:2.0rem;
    font-weight:bold;
    cursor:pointer;
    font-style:oblique;
    margin-left:10px;
    margin-top:15px;
}
.center-container {
    width:85%;
    background-color: rgba(119, 136, 153, 0.396);
}

/* for status panel */
.outline{
    border:2px solid white;
    margin:50px auto 0 auto;
    width:95%;
    /* width:100%; */
}
.current-status{
    margin:0 auto 0 auto;
    width:100%;
    background-color: rgba(245, 245, 245, 0.765);
    text-transform: capitalize;
    padding:7px;
    font-size: 40px;
    color:rgb(0, 0, 0);
    text-shadow: 0px 0px 5px 2px black;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.table-container{
 margin:20px 10px 20px 10px;
/* width:95%;  */
}
table{
    border:2px solid rgb(255, 255, 255);
    width:100%;
    border-collapse: collapse;
    font-size:25px;
}
th,td{
    border:2px solid rgb(255, 255, 255);
    gap:0;
}
.logout-container{
    background-color: white;
    margin:20% auto 0 auto;
    width:30%;
    padding:5px;
    border-radius:5px;
    /* font-size:20px; */
}
.exit-btn{
    width:120px;
    background-color: whitesmoke;
    color:black;
    cursor: pointer;
    border:2px solid black;
}

.exit-btn-wrapper{
    margin-top:20px auto 0 auto;
    column-gap: 50px;
    display:flex;
    margin-left:20px;
    /* width:70%; */
}
.yes{
    background-color: green;
}
.no{
    background-color:red;
}
